@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,900&display=swap');

html, body {
    width: 100vw;
    overflow-x: hidden;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#wrapper{
    overflow-x: hidden;
    position: relative;
}

/* main header styles. (applys to all pages) */

#header {
    color: white;
    position: absolute;
    top: 3%; 
    width: 100%;
}

#header-img {
    position: absolute;
    top: 0; left: 0;
    z-index: -999;
    min-width: 100%;
    /* min-height: 100%; */
    height: 100vh;
    filter: brightness(50%);
}


/* nav */
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20pt;
}

.nav-link:hover {
    color:chocolate;
}

ul{
    list-style-type: none;
    position: absolute;
    right: 3%;
}
li {
    display: inline;
    padding-left: 45px;
}

#logo{
    position: absolute;
    left: 3%;
    margin-top: 1em;
    font-weight: bold;
}


#center-page{
    text-align: center;
    margin-top: 40vh;
}

.centerpage-link{
    color:white;
    text-decoration: none;
}

.centerpage-link:hover{
    text-decoration: underline;
}

#center-page > p {
    margin-top: 10px;
    font-size: 25pt;
}
#center-page > h1 {
    font-size: 50pt;
    margin-bottom: 0;
    font-weight: 400;
    font-style: italic;
}

table{
    margin: 0 auto;
}

#github-logo{
    width: 50px;
}

button, .button{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5%;
    offset: none;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 15pt;
    padding: 3px 30px;
}

button:hover, .button:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}


/* menu */


#menu, #about-us, #contact-us {
    margin-top: 105vh;
}

#dinner-link{
    text-decoration: underline;
}

#dinner-link, #cocktail-link{
    font-size: 20pt;
    padding: 5px;
}
#dinner-link:hover, #cocktail-link:hover {
    cursor: pointer;
}


#menu > h2, #about-us > h2, #contact-us > h2 {
    font-weight: 900;
    font-style: italic;
    font-size: 50pt;
    margin-bottom: 10px;
}

.menu-title{
    font-size: 25pt;
    margin-bottom: 10px;
}

.sub-menu-title {
    color: grey;
    font-size: 15pt;
}

.menu-text{
    font-size: 15pt;
}

.menu-set{
    width: 100vw;
}


#appetizer > div{
    margin-left: 25vw;
}
#appetizer > img{
    margin-right: 25vw;
}


#kfc > div{
    margin-right: 25vw;
}
#kfc > img{
    margin-left: 25vw;
}

.left{
    float: left;
}
.right{
    float: right;
}

table{
    border: 1px solid black;
}
td{
    width: 100px;
}
tr{
    height: 30px;
}

.about-txt, #contact-txt{
    font-size: 20pt;
    width: 90vw;
    margin: 20px auto;
}
#contact-form > fieldset {
   width: 50vw;
   font-size: 15pt;
   margin: 0 auto;
}
#contact-form > * > p {
    margin: 0 auto;
}

#contact-form > button {
    margin-top: 10px;
}


#hambg-menu{
    display: none;
}

.img{
    margin-top: 50px;
    border: 5px double black;
    border-radius: 2%;
    width: 200px;
}

.kfctitle{
    margin-top: 30px;
}


footer{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 50px;
}

footer > span, #social{
    font-size: 15pt;
    margin-top: 10px;
}

footer > a, #social{
    width: 212.7px;
}
#social > a{
    color: black;
}

#social > a > * {
    animation-iteration-count: 1;
}

#home-github{
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 50px;
}

@media only screen and (max-width:480px){
/* moblie phones */
    footer{
        flex-direction: column;
        margin-top: 40px;
    }

    footer > *{
        margin: 5px auto;
    }

}
@media only screen and (min-width:769px){
    #home-github{
        content: url('images/github_logo_white.png');
    }
}


@media only screen and (max-width:768px){
    /* moblie phones and tablets */
  

    #logo {
        position: absolute;
        left: 20px;
        top: 0;
        margin-top: 0;
    }
    .white{
        color: white;
    }
    .black{
        color: black;
    }
    .hidden {
        display: none;
    }


    ul {
        padding-top: 40vh;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-left: 0;
    }

    li{
        display: block;
       padding-left: 0;
        color: black;
       padding-bottom: 30px;
    }

    #hambg-menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 35px;
    }
    #hm {
        display: block;
        position: absolute;
        right: 10px;
        top: -15px;
        width: 75px;
        height: 75px;
        z-index: 2;
    }
    #menu-overlay{
        display: none;
        z-index: -100;
        position: absolute;
        top: 0;
        left: 0;
        width: 110vw;
        height: 100vh;
        background-color: white;
        opacity: 0.95;
    }

    /* fix margin for ul */
}
@media only screen and (max-width: 1156px){
    

    #appetizer > div, #kfc > img{
        margin-left: 0;
    }
    #appetizer > img, #kfc > div{
        margin-right: 0;
    }

    #kfc{
        height: 370px;
    }

    .left, .right{
        float: none;
        margin-left: 0;
        margin-right:0;
    }
    .img, .kfctitle{
        margin: 0;
    }
}